In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Bengaluru_House_Data.csv')

In [5]:
df.shape

(13320, 9)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7819 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

# observation : there are some missing values in column 
# {location,  size,  society,  bath,  balcony}, which are in need to be handeled

In [7]:
df['location'].fillna(df['location'].mode()[0],inplace=True)

In [8]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,@@@@@@,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [10]:
df['size'].fillna(df['size'].mode()[0],inplace=True)

In [11]:
df.sample()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
11070,Plot Area,Ready To Move,Thanisandra,8 Bedroom,NaN,3600,9.0,3.0,125.0

In [13]:
df['society'].fillna(df['society'].mode()[0],inplace=True)

In [17]:
df['bath'].fillna(df['bath'].median(),inplace=True)

In [21]:
df['balcony'].fillna(df['balcony'].median(),inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13320 non-null  object
 3   size          13320 non-null  object
 4   society       13320 non-null  object
 5   total_sqft    13320 non-null  object
 6   bath          13320 non-null  float64
 7   balcony       13320 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [24]:
import sklearn as sk

In [26]:
from sklearn.model_selection import train_test_split

In [39]:
x=df[['area_type', 'availability', 'location', 'size', 'society','total_sqft', 'bath', 'balcony']]

In [40]:
y=df['price']

In [42]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.3)

In [68]:
from sklearn import svm

In [69]:
t=svm.SVC()

In [70]:
t.fit(X_train,Y_train)

ValueError: could not convert string to float: 'Plot  Area'