In [1]:
import pandas as pd

In [2]:
df_ipl=pd.read_csv(r'C:\Users\student.CCSIT\Downloads\IPL Matches 2008-2020.csv')

In [3]:
df_ipl.shape

(816, 17)

In [4]:
df_ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
id                 816 non-null int64
city               803 non-null object
date               816 non-null object
player_of_match    812 non-null object
venue              816 non-null object
neutral_venue      816 non-null int64
team1              816 non-null object
team2              816 non-null object
toss_winner        816 non-null object
toss_decision      816 non-null object
winner             812 non-null object
result             812 non-null object
result_margin      799 non-null float64
eliminator         812 non-null object
method             19 non-null object
umpire1            816 non-null object
umpire2            816 non-null object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [5]:
df_ipl['city'].mode()

0    Mumbai
dtype: object

In [6]:
df_ipl['city'].fillna(df_ipl['city'].mode()[0],inplace=True)

In [7]:
df_ipl['player_of_match'].mode()

0    AB de Villiers
dtype: object

In [8]:
df_ipl['player_of_match'].fillna(df_ipl['player_of_match'].mode()[0],inplace=True)

In [9]:
df_ipl['winner'].mode()[0]

'Mumbai Indians'

In [10]:
df_ipl['winner'].fillna(df_ipl['winner'].mode()[0],inplace=True)

In [11]:
df_ipl['result_margin'].median()

8.0

In [12]:
df_ipl['result_margin'].fillna(df_ipl['result_margin'].median(),inplace=True)

In [13]:
df_ipl['result'].mode()[0]

'wickets'

In [14]:
df_ipl['result'].fillna(df_ipl['result'].mode()[0],inplace=True)

In [15]:
df_ipl['eliminator'].mode()[0]

'N'

In [16]:
df_ipl['eliminator'].fillna(df_ipl['eliminator'].mode()[0],inplace=True)

In [17]:
df_ipl.describe()

                 id  neutral_venue  result_margin
count  8.160000e+02     816.000000     816.000000
mean   7.563496e+05       0.094363      17.127451
std    3.058943e+05       0.292512      21.877650
min    3.359820e+05       0.000000       1.000000
25%    5.012278e+05       0.000000       6.000000
50%    7.292980e+05       0.000000       8.000000
75%    1.082626e+06       0.000000      19.000000
max    1.237181e+06       1.000000     146.000000