In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Iris.csv")

In [3]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [4]:
df[['SepalLengthCm','SepalWidthCm', 'PetalLengthCm','PetalWidthCm']]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [5]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
df.sample(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
86,87,6.7,3.1,4.7,1.5,Iris-versicolor
57,58,4.9,2.4,3.3,1.0,Iris-versicolor
126,127,6.2,2.8,4.8,1.8,Iris-virginica

In [7]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [10]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [11]:
import sklearn as sk

In [12]:
sk.__doc__

'\nMachine learning module for Python\n==================================\n\nsklearn is a Python module integrating classical machine\nlearning algorithms in the tightly-knit world of scientific Python\npackages (numpy, scipy, matplotlib).\n\nIt aims to provide simple and efficient solutions to learning problems\nthat are accessible to everybody and reusable in various contexts:\nmachine-learning as a versatile tool for science and engineering.\n\nSee http://scikit-learn.org for complete documentation.\n'

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x=df[['SepalLengthCm','SepalWidthCm', 'PetalLengthCm','PetalWidthCm']]
y=df['Species']

In [15]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [16]:
(X_train).shape

(105, 4)

In [17]:
X_train.shape#,Y_train,X_test,Y_test

(105, 4)

In [18]:
Y_train.shape#,X_test,Y_test

(105,)

In [19]:
X_test.shape#,Y_test

(45, 4)

In [20]:
Y_test.shape

(45,)

In [21]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
118            7.7           2.6            6.9           2.3
18             5.7           3.8            1.7           0.3
4              5.0           3.6            1.4           0.2
45             4.8           3.0            1.4           0.3
59             5.2           2.7            3.9           1.4
..             ...           ...            ...           ...
133            6.3           2.8            5.1           1.5
137            6.4           3.1            5.5           1.8
72             6.3           2.5            4.9           1.5
140            6.7           3.1            5.6           2.4
37             4.9           3.1            1.5           0.1

[105 rows x 4 columns]

In [22]:
from sklearn import svm

In [23]:
t=svm.SVC()

In [24]:
t.fit(X_train,Y_train)

SVC()

In [25]:
t.predict([[4.5,3.1,1.6,1]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

array(['Iris-setosa'], dtype=object)

In [26]:
from sklearn import metrics

In [27]:
Y_pred=t.predict(X_test)

In [28]:
a=metrics.confusion_matrix(Y_pred,Y_test)

In [29]:
a

array([[14,  0,  0],
       [ 0, 17,  0],
       [ 0,  1, 13]], dtype=int64)

In [30]:
acc = metrics.accuracy_score(Y_test, Y_pred)

In [39]:
(acc*100).round(2)

97.78